
/*========================================START========================================================*/
/*========BODY========*/

body {
    padding: 0px;
    margin: 0px;
    background-color: rgb(242, 242, 242);
}
/*============================================END=========================================================*/



