
/*========================================START========================================================*/
/* Styles of the div containing all elements inside the main section */
.main-section {
    /*border: 2px solid red;*/
}

/*========================================START========================================================*/
/* Styles of the div that is responsible for grid layout*/
.grid-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
/*========================================END========================================================*/



/*========================================START========================================================*/
.one-product-container {
    border: 1px solid rgb(233, 233, 233);
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    border-right: none;
    background-color: white;
   
}

/*---Product image container---*/
.product-img-container {
    /*border: 2px solid black;
        width: 93%;
    */
    


     /*correcting the alignment of the images*/
     width: 100%;
     height: 150px;
     display: flex;
     align-items: center;
     justify-content: center;
     overflow: hidden;
}
.product-img-container img {
    /*width: 80%;*/

    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.product-name {
    /*border: 2px solid red;*/
    text-align: start;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 18px;

    /*added to fix the alignment of the name of the products*/
    width: 100%; /* Ensure it takes full width */
    height: 2.8em; /* Adjust based on font size (2 lines) */
    line-height: 1.4em; /* Control spacing between lines */
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Limit to 2 lines */
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: normal;
}

.ratings-container {
    /*border: 2px solid green;*/
    display: flex;
}

.stars-img-container {
    /*border: 2px solid red;*/
    width: 60%;
    margin-right: 8px;
}
.stars-img-container img {
    width: 82%;
}

.rating-count-container {
    /*border: 2px solid blue;*/
    padding: 2px 5px;
    color: #017cb6;
    font-size: 17px;
    margin-left: -30px;
}

.price-container {
   /*border: 2px solid blue;*/
    width: 97%;
    margin-top: 15px;
    margin-bottom: 18px;
    padding: 4px;
    font-size: 18px;
    font-weight: 800;
}

.product-select-quantity {
    margin-right: auto;
    width: 47px;
    height: 30px;
    margin-bottom: 25px;
}
#selectQuantity{
    width: 100%;
    height: 100%;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background-color: rgb(227, 227, 227);
    border: 1px solid lightblue;
}

#selectQuantity:hover {
    border: 2px solid rgb(252, 210, 0);
}

#selectQuantity option {
    font-size: 18px;
}

.add-to-cart-btn {
    margin-bottom: 10px;
    width: 85%;
    padding: 7px 0px;
    font-size: 15px;
    font-weight: 600;
    background-color: rgb(252, 210, 0);
    border: none;
    color: white;
    border-radius: 15px;
    cursor: pointer;
    margin: auto;
}

.add-to-cart-btn:hover {
    background-color: rgb(204, 173, 17);
}

/*========================================END========================================================*/








/*=============main section to be responsive=============*/
@media screen and (max-width: 600px) {
    .grid-section {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}


@media screen and (max-width: 2050px){
    body {
        .grid-section {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        }
    }
}