

body {
    padding: 0px;
    margin: 0px;
}



/*========================================START========================================================*/
/*Navigation bar styles*/
.navigation-bar {
    background-color: black;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.navigation-bar a {
    text-decoration: none;
}
/*============================================END=========================================================*/




/*========================================START========================================================*/
/* div containing the amazon loggo image styles*/
.amazon-loggo-container {
    width: 100px;
    height: 40px;
    padding: 5px;
    margin-right: 90px;
}
.amazon-loggo-container:hover {
    border: 1px solid white;
}
/*the styles of the loggo image*/
.amazon-loggo-container img {
    width: 90%;
}

.amazon-loggo-container1{
    width: 65px;
    height: 40px;
    padding: 5px;
    cursor: pointer;
    display: none;
}
.amazon-loggo-container1 img{
    width: 35%;
}

.amazon-loggo-container1:hover {
    border: 1px solid white;
}

/*============================================END=========================================================*/





/*========================================START========================================================*/
/*Styles of the Div that contains the search bar*/
.search-bar-container {
    /*border: 1px solid rgb(204, 0, 0);*/
    display: flex;
    flex: 1;
    height: 42px;
    margin-right: 45px;
}
.search-bar-container input {
    flex: 1;
    border: none;
    padding-left: 15px;
    font-size: 17px;
    border-radius: 5px;
    
}
::placeholder{
    color: gray;
}

.search-bar-container button {
    width: 50px;
    background-color: rgb(254, 189, 105);
    border: none;
    margin-left: -3px;
    border-radius: 3px;
}
.search-bar-container img {
    width: 70%;
}
/*============================================END=========================================================*/





/*========================================START========================================================*/
/*Styles of the Div that containis the option of view orders & return orders*/
.view-return-orders {
    color: white;
    padding: 6.5px;
    cursor: pointer;
}

.view-return-orders:hover {
    border: 1px solid white;
}

.view-return-orders p{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 15px;
}
.view-return-orders span {
    
    font-weight: 900;
}
/*============================================END=========================================================*/






/*========================================START========================================================*/
/*Styles of the Div that contains the cart options*/
.cart-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    position: relative;
    cursor: pointer;
}
.cart-container:hover{
    border: 1px solid white;
}

.view-cart {
    /*border: 1px solid blue;*/
    color: rgb(240, 136, 4);
    width: 10px;
    padding: 0px 3px;
    position: absolute;
    top: 0;
    font-size: 17px;
    font-weight: 900;
}

.cart-icon-container {
    width: 80%;
   
}

.cart-icon-container img {
    width: 85%;
}
/*============================================END=========================================================*/



/*====================Main section styles==================*/



.orders-heading {
    font-size: 1.7em;
    margin-left: 200px;
}

.orders-item-container{
    border: 1px solid lightgrey;
    width: 70%;
    margin: auto;
    border-radius: 18px;
    padding-bottom: 15px;
    background-color: rgb(253, 253, 253);
    margin-bottom: 40px;
    color: rgb(33, 33, 33);
}


.order-top-section {
   
    background-color: rgb(207, 207, 207);
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    margin-bottom: 35px;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
}


        /*==========styles for the left section==============*/
/*======================================START================================*/
.top-left-section {
   
    width: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.left-small {
    width: 110px;
    padding: 5px;
    font-size: 18px;
}

.order-placed, .order-total {
    font-size: 18px;
    font-weight: 600;
}
/*============================END===================================*/



    /*==========styles for the right section==============*/
/*=======================START=================================*/
.top-right-section{
   
}

.order-id-name {
    padding: 4px;
    font-size: 18px;
    font-weight: 600;
}

.the-order-id-no {
    padding: 4px;
    font-size: 16px;
    margin-top: 4px;
}
/*============================END===================================*/






 /*========================styles for the bottom section===========================*/
/*====================================START============================================*/


.order-bottom-section {
    display: flex;
    justify-content: space-between;
    padding: 6px 15px;
    margin-bottom: 35px;
}
/*=======LEFT===========*/
.order-bottom-left-section {
    width: 380px;
    padding: 4px;
    display: flex;
}
.order-bottom-img {
    width: 150px;
}
.order-bottom-img img {
    width: 78%;
}


.order-detail-small {
    padding: 4px;
    font-size: 17px;
}

.order-bottom-details-name {
    font-size: 17px;
    font-weight: 700;
}

.order-bottom-details-btn button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 8px;
    background-color: rgb(255, 216, 20);
    border: none;
    border-radius: 5px;
}
.order-bottom-details-btn button:hover {
    background-color: rgb(219, 184, 10);
}

.order-bottom-details-btn button img{
    width: 25px;
}
.order-bottom-details-btn button span {
    margin-left: 8px;
    font-size: 16px;
    color: white;
    cursor: pointer;
}



/*=======RIGHT===========*/
.order-bottom-right-section {
    
}

.order-bottom-right-section button {
    padding: 8px 55px;
    font-size: 17px;
    cursor: pointer;
    border: 1px solid lightblue;
    border-radius: 8px;
    background-color: white;
    box-shadow: 3px 3px 5px grey;
}

.order-bottom-right-section button:hover {
    background-color: rgb(227, 227, 227);
}

/*===========================================END===========================================*/




/*=============navigation section to be responsive=============*/
@media screen and (max-width: 600px) {
    
    .amazon-loggo-container{
        display: none;
        margin-right: 0px;
    }

    .amazon-loggo-container1{
        display: block;
        width: 50px;
        height: 35px;
        padding: 5px;
        margin-right: 10px;
    }

    .amazon-loggo-container1 img{
        width: 78%;
    }

    .cart-container{
        display: none;
    }
}